---
layout: default
permalink: /
thumb_force_logo: true
---

{%- include amsf/core -%}

<article>
  <header>
    <h1 class="image-title">
      Front Range Moderates
      <img src="{{ amsf_user_assets }}/svg/amsf.svg">
    </h1>

    <h2 class="sub-title">A guide to the best moderate boulders in Colorado's Front Range</h2>
  </header>

  <h2>Boulder Canyon</h2>
  <div class="page-content">
    {% for post in site.tags.boulder_canyon %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}
  </div>

  <h2>Camp Dick</h2>
  <div class="page-content">
    {% for post in site.tags.camp_dick %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}
  </div>

  <h2>Green Mountain</h2>
  <div class="page-content">
    {% for post in site.tags.green_mountain %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}
  </div>
</article>
