<!-- Post-wide custom CSS -->
{{ amsf_page_css }}

<!-- Article wrapper, limit width -->
<article lang="{{ amsf_page_lang }}">

  <!-- Post title -->
  <header {{ amsf_page_heading_bg }}>

    <h1 class="{{ amsf_page_heading_class }}" title="{{ amsf_page_title | strip_html | xml_escape }}" data-title="{{ amsf_page_title | strip_html | xml_escape }}">
      {{ amsf_page_heading }}
    </h1>

    <small>
      Grade: {{ page.grade }} | Location: {{ page.location }}
    </small>
  </header>

  <!-- Post content -->
  <div class="post-content">
    {{ content }}
  </div>

</article>
